// HTML

body 
	background-color   	: $g0
	color              	: $g1
 	
h1 	
	font-family        	: $type
	color              	: $theme_color
	font-weight        	: 700
 	
p 	
	font-family        	: $type
	color              	: $g4
	font-weight        	: 400
 	
 	
 	
// Nav 	
 	
#logo  	
	color              	: $g4
	z-index            	: 100


 




