// Nav 	
 	
 	
// Main Content

#frame
	width             	: 88%
	margin            	: 15em auto
	text-align        	: center

.sep
		
	height 	        	: 2em
	padding           	: 2em
	z-index 	        : 99
 	
 	
// Secondary Content 	
 	
 	
// Footer
 	
 	
// Tablet


// Mobile
 	
