// HTML

body 
	background-color   	: $g0
	color              	: $g1
 	
h1 	
	font-family        	: $type
	color              	: $theme_color
	font-size 			: 5em
	font-weight        	: 100
 	
p 	
	font-family        	: $type
	color              	: $g4
	font-weight        	: 400
 	
 	





