@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic)


$type  		 			: "Lato", san-serif


// Currently red - Change accordingly

$theme_color 			: #EF3F37

// Grays from light to dark (g0-g4)

$g0 					: #F4F6F7
$g1 					: #929191
$g2 					: #5A5B5B
$g3 					: #2C2C2C
$g4 					: #040707

// Media Breaks

$screen-ip5				: 320px
$screen-sm-min 			: 768px
$screen-xs-max 			: ($screen-sm-min - 1)
$screen-md-min 			: 992px
$screen-sm-max 			: ($screen-md-min - 1)
$screen-lg-min 			: 1200px
$screen-md-max 			: ($screen-lg-min - 1)


$height-sm-min 			: 411px
$height-xs-max 			: ($height-sm-min - 1)
$height-md-min 			: 600px
$height-sm-max 			: ($height-md-min - 1)
$height-lg-min 			: 992px
$height-md-max 			: ($height-lg-min - 1)


