@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,100italic,300italic,400italic,700italic,900italic)

$type  		 		: "Lato", san-serif


// Currently red - Change accordingly

$theme_color : #EF3F37


// Grays from light to dark (g0-g4)

$g0 					: #F4F6F7
$g1 					: #929191
$g2 					: #5A5B5B
$g3 					: #2C2C2C
$g4 					: #040707

